// Import
@charset "utf-8";

// Fonts
$family-sans-serif: 'Saira', sans-serif;
$fuente-lectura:  'Montserrat', sans-serif;
$fuente-codigo:  'Fira Code', monospace;

// Colour-palette
$main: #2A3039;
$secondary: #555961;
$myGray: #DBDBDB;
$myGold: #DDC37D;
$progress: #465166;

// Bulma's main color update to
$info: $main;

// Nuevos colores y mapas de colores que agregaré para usar más fácil
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$linkedin: #b50000;
$linkedin-invert: findColorInvert($linkedin);
$progress: $progress;
$progress-invert: findColorInvert($progress);

// Actualizmos el mapa de colores
@import 'node_modules/bulma/sass/utilities/derived-variables';
$addColors: (
  'twitter': (
    $twitter,
    $twitter-invert,
  ),
  'github': (
    $github,
    $github-invert,
  ),
  'linkedin': (
    $linkedin,
    $linkedin-invert,
  ),
  'progress': (
    $progress,
    $progress-invert,
  ),
);
$colors: map-merge($colors, $addColors);

// IMPORTO EL RESTO DE BULMA
@import 'node_modules/bulma/bulma.sass';

// MIS ESTILOS CSS
// Transiciones suaves de scroll
html {
  scroll-behavior: smooth;
}

// Burger center at div
.navbar-burger {
  height: auto;
}

.navbar-dropdown {
  background-color: $main;
}

// Section Hero
.hero {
  width: 100%;
  padding-top: 10vh;
  height: 100%;
}
.hero:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient($secondary, 85%, $myGray);
  animation: Gradient 15s ease infinite;
}

// Desplazamiento de la imagen
.hero .mobile-image {
  max-width: 100%;
  height: 100vh;
}

.hero .my-name {
  color: $myGray;
  font-size: 4rem;
  // Así se hace un mediaquery con bulma y sass :)
   @include until($tablet) {
        font-size: 3rem;
    }
}

.hero-logo {
  height: 50vh;
  width: max-content;
}

.is-lectura {
  font-family: $fuente-lectura;
  text-justify: inter-word;
}

.is-lectura-compact {
  font-family: $fuente-lectura;
  text-align: justify;
  text-justify: inter-word;
}

.hero .ocupacion {
  color: $myGold;
  font-family: $fuente-codigo;
  @include until($tablet) {
        font-size: 2rem;
    }
}

// Section About Me
.about-me {
  border-radius:1rem;
  padding: 0%;
}

#about-me {
  background: linear-gradient($myGray 1%,10%, white);
}

.progress-wrapper {
  position: relative;
  height: auto;
}

.progress-value {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1rem / 1.5);
  line-height: 1rem;
  font-weight: bold;
}

hr {
  background-color: $main;
  margin-top: 0.5rem;
}

.soy-yo {
  border-radius: 50%;
  height: 50vh;
  width: max-content;
}

// Projects
#proyectos {
  background-color: $myGray;
}

// Project
.proyecto {
  transition: 0.5s all ease;
}
.proyecto:hover {
  box-shadow: 0 5px 50px -10px $main;
}

// Training
#training {
  background: linear-gradient(white 50%, $myGray, $secondary);
}


// Footer
.footer {
  padding: 1rem 1.5rem 1rem;
  background-color: $main;
}

/* CUBE ANIMATION AND OTHERS */
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px $main;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: $main;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

/* ANIMATE BACKGROUND */
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/* CHEVRON */
.chevron-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
}

.chevron {
  position: absolute;
  width: 0.5rem * 3.5;
  height: 0.5rem * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: $main;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(0.5rem * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY(0.5rem * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY(0.5rem * 8) scale(0.5);
  }
}
